<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p>Created On: <%= standard_date_format(@question.created_at) %></p>
<p><strong>Subject:</strong><%= @question.subject&.name %> </p>
<!-- <p><strong>Subject:</strong><%= @question.subject.name if  @question.subject %> </p> -->
<% like = @question.likes.find_by(user: current_user) %>


<% if like.present? %>
<%= link_to 'unlike', question_like_path(@question, like), method: :delete %>
<% else %>
<%= link_to 'like', question_likes_path(@question), method: :post %>
<% end %>
<span>( <%= @question.likes.count %>)</span>



<% if can? :edit, @question %>

<%= link_to 'Edit', edit_question_path(@question) %>
<%# Rails enables us to make links end non-GET requests by setting the `method`
    attribute for `link_to`. Rails uses Javascript to accomplish that. %>
<% end %>

<% if can? :destroy, @question %>
<%= link_to 'Delete', question_path(@question),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
<% end %>
<h2>Answers</h2>
<%# /questions/:question_id/answers %>

<%= @answer.errors.full_messages.join(', ') %>
<%= form_for [@question, @answer] do |f| %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>
<hr />
<% @question.answers.each do |answer| %>
  <p><%= answer.body %></p>
  <%= link_to 'Delete', question_answer_path(@question, answer),
  method: :delete,
  data: { confirm: 'Are you sure?'} %>

  <hr />
<% end %>
